html {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    margin: auto;
    overflow-x: scroll;
}
body {
    height: 100vh;
    overflow-y: hidden;
    margin: 0px;
    padding: 0px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    width: 100%;
    padding: 0 16px;
    position: sticky;
    margin: 0px;
    border: 0px;
    padding: 0px;
    background: rgba(21, 21, 21, 1);
}

#background.header {
    z-index: -1;
    position: absolute;
    height: 56px;
    width: 100%;
}

.logo{
    display:flex;
    height:50px;
    width:150px;
    margin:auto;
}

.theme-toggle{
    margin: auto;
    height:contain;
}

.toggle {
    appearance: none;
    width: 3rem;
    height: 1.5rem;
    border:0px;
    border-radius: 15px;
    background-color: white;
    cursor: pointer;
    transition: .4s;
}

    .toggle::before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        margin-top: 2px;
        border: 0px;
        border-radius: 15px;
        background-color: dimgrey;
        transition: ease-in-out 0.2s;
    }

    .toggle:checked{
        background-color:#9d9d9d;
    }

    .toggle:hover {
        opacity: 0.7;
    }

    .toggle:checked::before {
        transform: translateX(1.7rem);
        background-color: darkslateblue;
    }

.search{
   display:flex;
    width:100%;
    margin-left:5%;
}

#main_search {
    height: 25px;
    width: 60%;
    border:0px;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M10%202C5.58172%202%202%205.58172%202%2010C2%2014.4183%205.58172%2018%2010%2018C11.8487%2018%2013.551%2017.3729%2014.9056%2016.3199L20.2929%2021.7071C20.6834%2022.0976%2021.3166%2022.0976%2021.7071%2021.7071C22.0976%2021.3166%2022.0976%2020.6834%2021.7071%2020.2929L16.3199%2014.9056C17.3729%2013.551%2018%2011.8487%2018%2010C18%205.58172%2014.4183%202%2010%202ZM4%2010C4%206.68629%206.68629%204%2010%204C13.3137%204%2016%206.68629%2016%2010C16%2013.3137%2013.3137%2016%2010%2016C6.68629%2016%204%2013.3137%204%2010Z%22%20fill%3D%22%23797878%22/%3E%3C/svg%3E);
    background-repeat: no-repeat;
    background-position: 2px left;
    padding-left: 40px;
    background-color:#e7e7e7;
}


#main_search:focus{

    background-color:aliceblue;
    outline:none;
}

.search_button {
    height: inherit;
    width: 50px;
    margin: 0px;
    border: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    // background-image:url();
    background-color: #9d9d9d;
    // background-position: center;
    // background-size: contain;
    // background-repeat: no-repeat;
    cursor: pointer;
    opacity:0.7;
}
    .search_button:active {
        background-image: linear-gradient(120deg, #9a00ff 60%, #0089a2);
        box-shadow: 0px 0px 100px 50px rgba(207, 0, 255, 0.2);
    }
    .search_button:hover{
        opacity:1;
    }

.user_info {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right:10px;
    width: 220px;
    height: 37px;
    gap: 10px;
}

.avatar_user_name{
   margin:auto;
   color:aliceblue;
}


.avatar_button {
    margin: auto;
}

main {
    display: flex;
    height: 100%;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/ac/Wikipe-tan_head.png);
    //background-color:rgba(21, 21, 21, 1);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-top: 5px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-style: solid;
    border-color: aliceblue;
    flex-wrap: wrap;
}

#title_main_page {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-style: oblique;
    font-weight: 100;
    margin-left: 50px;
}

aside {
    height: 100%;
    width: 165px;
    //width:10%;
    background-color: rgba(21, 21, 21, 1);
   / background-color: #9a9a9a;
    overflow-y: scroll;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.ul_add_note {
    padding-left: 7px;
    margin: 15px;
    list-style:none;
}

.add_note_div {
    display:flex;
    flex-direction:column;
    list-style-type: none;
    height:70%;
}


.add_note_span {
    font-family: Montserrat;
    color: aliceblue;
    margin: auto;
}

.add_note_button{
    display:inherit;
    border:0;
    width:30%;
    height:30px;
    margin-top:12px;
    margin-left:10px;
    border-radius:15px;
    cursor:pointer;

}

.FileList {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: aliceblue;
    opacity: 50%;
}

.settings {
    display:flex;
    justify-content:center;
    padding-left: 5px;
    margin: 15px;
    border: 0px;
}


.settings_button {
    background-image: linear-gradient(140deg, #8800af 25%, #0089a2, darkslateblue);
    border:0;
    border-radius: 10px;
    border-block-style:solid;
    border-block-width:2px;
    border-block-color:#000000;
    color: #ffffff;
    font-size: 20px;
    min-width: 100px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    white-space: nowrap;
    cursor: pointer;
    transition: ease-in 0.1s;
    opacity:0.7;
}

    .settings_button:active {
        color: #d7d7d7;
        transform: scale(0.9);
        background-image: linear-gradient(140deg, #000000, darkslateblue);
    }

    .settings_button:hover {
        opacity: 1;
    }

.settings_button_span{
    font-family: Montserrat;
    font-weight: 600;
}

.weather_block {
    display: flex;
    flex-direction: column;
    height: 20%;
    width: auto;
    border: 0px;
    margin-left: auto;
    margin-right: 10px;
}

.weather_button_div{
    margin-left:auto;
    padding:0px;   
}

.weather_button{
    background-color:rgba(21, 21, 21, 1);
    appearance:none;
    border:0;
    margin:0;
    height:80px;
    width:150px;
    transition: all 0.1s;
    cursor:pointer;
}
    .weather_button:active {
        background-color: #9d9d9d;
        transform: scale(0.9);
    }

    .weather_button:hover {
        background-color: rgba(21, 21, 21, 0.7);
    }


.weather_button span{
    font-family: Montserrat;
    font-size: 20px;
    font-weight:600;
    font-kerning: normal;
    color: rgba(255, 255, 255, 0.4);

}
    .weather_button:hover span {
        color: rgba(255, 255, 255, 1);
    }

.weather_block_div {
    display: none;
    color: black;
    background-image: url(https://www.admbal.ru/upload/iblock/1df/1df01e3c2020a359c964fc4803b30ba8.png);
    background-size: contain;
    background-position: center;
}

.weather_h2{
    margin:0px;
}

.weather_p{
    margin:0px;
}

.calendar_block {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    width: auto;
    height: 20%;
}

.calendar_button_div {
    margin-left: auto;
}

.calendar_button {
    height: 80px;
    width: 150px;
    border: 0;
    cursor: pointer;
    background-color: rgba(21, 21, 21, 1);
    transition: all 0.1s;
}
    .calendar_button:hover {
        background-color: rgba(21, 21, 21, 0.7);
    }
    .calendar_button:active {
        background-color: #9d9d9d;
        transform: scale(0.9);
    }

.calendar_button span{
    font-family:Montserrat;
    font-weight:600;
    font-kerning:normal;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.4);
}
    .calendar_button:hover span {
        color: rgba(255, 255, 255, 1);
    }

.calendar_block_div {
    display: none;
}

.time_block {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    width: auto;
    height: 20%;
}

.time_button{
    height:80px;
    width:150px;
    border:0;
    cursor:pointer;
    background-color:rgba(21, 21, 21, 1);
    transition: all 0.1s;
}
    .time_button:hover {
        background-color: rgba(21, 21, 21, 0.7);
    }
    .time_button:active {
        background-color: #9d9d9d;
        transform: scale(0.9);
    }

.time_button span{
    font-family:Montserrat;
    font-weight:600;
    font-kerning:normal;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.4);
}
    .time_button:hover span {
        color: rgba(255, 255, 255, 1);
    }

.time_block_div{
    display:none;
}

.date_block {
    display: flex;
    flex-direction: column;
    margin-right: -155px;
    width: auto;
    height:20%;
}

.date_button {
    height: 80px;
    width: 150px;
    border: 0;
    cursor: pointer;
    background-color: rgba(21, 21, 21, 1);
    transition: all 0.1s;
}
    .date_button:hover {
        background-color: rgba(21, 21, 21, 0.7);
    }
    .date_button:active {
        background-color: #9d9d9d;
        transform: scale(0.9);
    }

.date_button span{
    font-family:Montserrat;
    font-weight:600;
    font-kerning:normal;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.4);
}
    .date_button:hover span {
        color: rgba(255, 255, 255, 1);
    }

.date_block_div{
    display:none;
}

.progress_block {
    display: flex;
    flex-direction:column-reverse;
    height: 26%;
    align-content: baseline;
    margin-right:10px;
    margin-top:48%;
    flex-wrap: wrap;

}

.progress_button {
    height: 80px;
    width: 150px;
    border: 0;
    cursor: pointer;
    background-color: rgba(21, 21, 21, 1);
    transition: all 0.1s;
}
    .progress_button:hover {
        background-color: rgba(21, 21, 21, 0.7);
    }
    .progress_button:active {
        background-color: #9d9d9d;
        transform: scale(0.9);
    }

    .progress_button span {
        font-family: Montserrat;
        font-weight: 600;
        font-kerning: normal;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.4);
    }

.progress_block_div{
    display:none;
}